@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide the arrows in number input fields */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body {
  background: url("/bg-jpg.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  height: 100vh;
  overflow-x: hidden;
}

section {
  padding: 80px 0;
}

.btn {
  background-image: linear-gradient(to right,
      #aa076b 0%,
      #61045f 51%,
      #aa076b 100%);

  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  display: inline-block;
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}